# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

django < 4.0.0  # this api runs on django 3.2.9

# Django packages
django-braces
django-cors-headers
django-extensions
django-filter
django-extra-fields
django-leaflet

# Country codes, names and flags #
django-countries

# Multiselectfield
django-multiselectfield

# REST
drf_amsterdam
drf-extensions
djangorestframework
djangorestframework-csv
djangorestframework-xml
djangorestframework-gis

drf_yasg
flex

openpyxl

# Database
psycopg2-binary

# Datapunt packages
datapunt-keycloak-oidc

# Validation
swagger-spec-validator

# Logging
graypy
pygelf

# Markup
markdown
pygments

# Sentry
sentry-sdk

# Azure
azure-identity
azure-keyvault
opencensus-ext-azure
azure-core
