
# Define all DEV requirements used for local development (pinned to a version if necessary).
# See https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

# Base website
-r ./requirements.in

# Tools for maintaining requirements.txt:
pip-tools

# Useful extra developer packages:
django-debug-toolbar
faker
factory_boy
pytest
pytest-django
pytest-env
pytest-factoryboy
pytest-cov
pytest-faker
responses
pyinstrument
black
isort
ipdb
autoflake
ipython
notebook

# extra package to run runserver_plus
werkzeug
